DetailsRow {
  gap: 1px;
  align-items: center;

  i {
    color: #afafaf;
    height: 100%;
    align-items: center;
    font-size: 18px;
    width: 30px;
  }

  .field-value {
    color: #efefef;
    text-transform: capitalize;
    //font-weight: 700;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    //height: 100%;
  }

  .field-label {
    color: #afafaf;
    font-family: Poppins;
    font-weight: 360;
    font-size: 14px;
    width: 30px;
  }
}

