DetailsRow {
  gap: 1px;
  align-items: center;

  i {
    color: #afafaf;
    height: 100%;
    align-items: center;
    font-size: 18px;
    width: 30px;
  }

  .field-label {
    width: 70px;
    background-color: #425253;
    color: #dadada;
    font-size: 14px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    border-radius: 2px 0 8px 2px;
    padding: 3px;
  }

  .field-value {
    //background-color: #ccc;
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
    margin-right: 8px;
  }

}

