@using System
@using Kira
@inherits PanelComponent

<root>

    @if (IsHovering || HasSelection)
    {
        IUnit unit = IsHovering ? HoveringUnit : UnitSelected;

        <div class="details">
            <DetailsRow Icon="person" ValueText=@unit.Name/>
            <DetailsRow LabelText="lvl" ValueText=@unit.Level.ToString()/>
        </div>

        <div class="stats-title">Stats</div>

        <div class="info-panel">
            
            <div class="stats">
                <detailsrow LabelText="agility" ValueText="12"></detailsrow>
                <detailsrow LabelText="strength" ValueText="12"></detailsrow>
                <detailsrow LabelText="evasion" ValueText="12"></detailsrow>
                <detailsrow LabelText="evasion" ValueText="12"></detailsrow>
            </div>
            
            <div class="items">
                <div class="item-slot"></div>
                <div class="item-slot"></div>
                <div class="item-slot"></div>
                <div class="item-slot"></div>
            </div>
            
        </div>
    }
</root>

@code
{
    private bool IsHovering => player.IsHovering;
    private bool HasSelection => player.HasSelection;

    private IUnit HoveringUnit => player.hovering;
    private IUnit UnitSelected => player.SelectedUnit;

    private Player player { get; set; }

    protected override void OnAwake()
    {
        player = Scene.Components.GetAll<Player>().FirstOrDefault();
    }

    protected override int BuildHash() => HashCode.Combine(IsHovering, HasSelection);
}