UnitStatsUI {
  background-color: #444;
  flex-direction: column;

  padding: 10px 6px 8px 6px;
  border-radius: 5px;
  width: 380px;
  height: 200px;
  gap: 6px;

  position: absolute;
  bottom: 10px;
  left: 10px;

  .details {
    padding: 0 5px;
    flex-direction: column;
    gap: 4px;
  }

  .stats-title {
    color: #fff;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 800;
    justify-content: center;
    width: 100%;
  }

  .stats {
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 7px;
    padding-top: 8.5px;
    padding-left: 8px;
    background-color: #2d2d2d;

    DetailsRow {
      background-color: #678a83;
      gap: 10px;
      //border-radius: 2px 6px 2px 2px;
      border-radius: 4px;
    }


    .field-label {
      width: 70px;
      background-color: #425253;
      color: #dadada;
      font-size: 14px;
      font-family: "Roboto Condensed";
      font-weight: 400;
      border-radius: 2px 0 8px 2px;
      padding: 3px;
    }

    .field-value {
      //background-color: #ccc;
      flex-grow: 1;
      flex-shrink: 0;
      width: auto;
      margin-right: 8px;
    }
  }
}