UnitStatsUI {

  &.visible {
    background-color: #444;
    flex-direction: column;

    padding: 10px 6px 8px 6px;
    border-radius: 5px;
    width: 380px;
    height: 200px;
    gap: 6px;

    position: absolute;
    bottom: 10px;
    left: 10px;

    pointer-events: all;
  }

  .details {
    padding: 0 5px;
    flex-direction: column;
    gap: 4px;
  }

  .stats-title {
    color: #fff;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 800;
    margin-left: 100px;
    width: 100%;
  }

  .info-panel {
    padding: 5px;
    border-radius: 4px;
    gap: 8px;
  }

  .stats {
    background-color: #323232;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    width: 70%;
    padding: 5px;
    border-radius: 3px;

    DetailsRow {
      background-color: #678a83;
      gap: 7px;
      //border-radius: 2px 6px 2px 2px;
      border-radius: 4px;
    }


    .field-label {
      width: 70px;
      background-color: #425253;
      color: #dadada;
      font-size: 14px;
      font-family: "Roboto Condensed";
      font-weight: 400;
      border-radius: 2px 0 8px 2px;
      padding: 3px;
    }

    .field-value {
      //background-color: #ccc;
      flex-grow: 1;
      flex-shrink: 0;
      width: auto;
      margin-right: 8px;
    }
  }

  .items {
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    gap: 4px;
    width: 40%;
    flex-wrap: wrap;
  }
}