@using System
@using Kira
@inherits PanelComponent

<root>

    @if (IsHovering || HasSelection)
    {
        IUnit unit = IsHovering ? HoveringUnit : UnitSelected;

        <div class="details-row">
            <i>person</i>
            <div class="text">
                @unit.Name
            </div>
        </div>
        <div class="details-row">
            <div class="field-label">LVL</div>
            <div class="text">@unit.Level</div>
        </div>
        <div class="stats">
            <div class="stat-li">
            </div>
        </div>
    }
</root>

@code
{
    private bool IsHovering => player.IsHovering;
    private bool HasSelection => player.HasSelection;

    private IUnit HoveringUnit => player.hovering;
    private IUnit UnitSelected => player.SelectedUnit;

    private Player player { get; set; }

    protected override void OnAwake()
    {
        player = Scene.Components.GetAll<Player>().FirstOrDefault();
    }

    protected override int BuildHash() => HashCode.Combine(IsHovering, HasSelection);
}